<div class = "title">
    <h3><b>GIỎ HÀNG CỦA BẠN </b> </h3>
</div>
<div align="right" class="pickall">
    <label>
        <input type="checkbox" (change)="toggleSelectAll($event)"> Chọn tất cả
    </label>
</div>

<!-- Hiển thị giỏ hàng trống nếu không có sản phẩm -->
<div *ngIf="cart.length === 0" class="empty-cart" align="center">
    <img src="\assets\clear_shopping_cart-128.webp" alt="Giỏ hàng trống" width="200"> 
    <br>
    <br>
    <p>GIỎ HÀNG TRỐNG </p>
</div>

<!-- Hiển thị giỏ hàng khi có sản phẩm -->
<div *ngIf="cart.length > 0" align="center">
    <div class="cart">
        <div class="product" *ngFor="let item of cart; let i = index">
            <input type="checkbox" [(ngModel)]="item.selected">
            <img [src]="item.image" [alt]="item.name">

            <div class="info">
                <h3>{{ item.name }}</h3>
                <label>Màu sắc:
                    <select [(ngModel)]="item.color">
                        <option *ngFor="let color of item.availableColors">{{ color }}</option>
                    </select>
                </label>
                <br><br>
                <p>Đơn giá: {{ item.price | number }} đồng</p>
                <p>Tổng cộng: {{ item.totalPrice | number }} đồng</p>
            </div>

            <div class="quantity">
                <button (click)="decreaseQuantity(item, i)">-</button>
                <span>{{ item.quantity }}</span>
                <button (click)="increaseQuantity(item)">+</button>
            </div>

            <span class="remove" (click)="removeItem(i)">X</span>
        </div>

        <div class="totalprice">
            <p><b>Tạm tính: </b>{{ getTotalPrice() | number }} đồng</p>
            <p><b>Giảm giá:</b></p>
            <p><b>Tổng cộng:</b> {{ getTotalPrice() | number }} đồng</p>
            <div align="right">
                <button class="orderbtn" (click)="goToOrder()">ĐẶT HÀNG</button>

            </div>
        </div>
    </div>
</div>
