<div class="payment">
    <!-- <div class="info">
        <table>
            <tr>
                <td width="250px">Nguyễn Thị Trang</td>
                <td width="200px">KTX khu B, Đông Hòa, Dĩ An, Bình Dương</td>
            </tr>
            <tr>
                <td>009495959</td>
                <td>trangnt22411&#64;gmail.com</td>
            </tr>
        </table>
    </div> -->
    <div class="qr">
        <img id="selectedBankImage" class="selected-bank" src="">
        <img src="assets/QR.png">
        
        <h3>NOI THAT HOMESOUL </h3>
        <div class="note">Thời gian còn lại: {{ formatTime(timeLeft) }}</div>
    </div>
    <table>
        <tr>
            <td width="200px">Tài khoản</td>
            <td >1400323485</td>
        </tr>
        <tr>
            <td>Số tiền</td>
            <td>{{ totalPrice.toLocaleString('vi-VN') }} đ</td>
        </tr>
        <tr>
            <td>Nội dung chuyển khoản</td>
            <td>HS112DJGTIGR1110</td>
        </tr>
    </table>
    </div>





