.pttt {

    padding: 20px;
}
h2 {
    margin-bottom: 20px;
}
.payment-method {
    border: 1px solid black;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.radio-group {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 55%;
}

.radio-group:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
    margin-right: 10px;
}
.order{
    justify-content: right;
    text-align: right;
}
button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    height: 40px;

    /* position: absolute;
    right: 20px;
    bottom: 200px; */
}
button:hover {
    background-color: #f0f0f0;
}

.bank-options {
    background-color: white;
    width: 500px;
    height: 210px;
    display: none;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* position: absolute;
    left: 100px; /* Điều chỉnh vị trí bên trái */
     /* top: 190px; Điều chỉnh vị trí bên trên  */
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wallet-options {
    background-color: white;
    width: 350px;
    height: 60px;
    display: none;
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    /* position: absolute; */
    /* left: 100px; 
     top: 240px;  */
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.bank-options img {
    width: 150px;
    height: 45px;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.bank-options.active {
    display: grid;
}

.wallet-options.active{
    display: grid;
}

.wallet-options img {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#selectedBankImage, #selectedWalletImage{
    border: 1px solid rgb(113, 112, 112);
    border-radius: 25px;
    margin-left: 30px;
}




.title{
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 30px;
    font-size: 25px;
    padding-top: 20px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    
}
/* ================================ */


.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Giỏ hàng chiếm 50% chiều rộng */
.cart {
    width: 50%;
}

/* Thông tin khách hàng chiếm 50% chiều rộng */
.customer-info {
    width: 50%;
    margin-left: 45vw;
}


.product {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #B6B6B6;
    margin-top: 10px;
    justify-content: space-between;
}

.product img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    margin-right: 15px;
}

.info {
    flex: 1;
    text-align: left;
}

/* khách hàng */
table tr td:first-child{
    font-weight: bold;
    width: 130px;
}


table tr td:last-child{
    width: 200px;
}
table{
    border: 1px solid black;
}

/* .customer-info{
    justify-content: right;
} */


/* Tổng thanh toán */
.totalprice {
    padding: 15px;
    border: 1px solid #B6B6B6;
    text-align: left;
    width: 90%;
    margin: 15px;   
     
}

select{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
}

.orderbtn{
    width: 150px;
    height: 30px;
    border: 1px solid #B6B6B6;
}

.orderbtn:hover{
    color:  #000000;
    background-color: #B6B6B6;
}
