<div class="product-details-container">
    <div class="header">
      QUẢN LÍ SẢN PHẨM / THÔNG TIN SẢN PHẨM
    </div>
    <div class="edit">    <button class="edit-button">Chỉnh sửa</button></div>

  
    <div class="product-info">
      <div class="section">
        <h2>THÔNG TIN SẢN PHẨM</h2>
        <div class="info-group">
          <h3>Thông tin chung</h3>
            <table>
                <tr>
                    <td>
                    Tên sản phẩm
                    </td>
                    <td>{{ product['Tên sản phẩm'] }}</td>
                </tr>
                <tr>
                    <td>
                           Mã sản phẩm
                    </td>
                    <td>
                        {{ product["SKU"] }}
                    </td>
                </tr>
                <tr>
                    <td>
                     Mô tả
                    </td>
                    <td>
                      {{ product['Mô tả'] }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Ảnh</label>
                    </td>
                    <td class="pic">
                       <img src="{{ product['Ảnh sản phẩm'][0] }}">
                    </td>
                </tr>
            </table>
            </div>
        <div class="info-group">
          <h3>Thông tin chi tiết</h3>

          <table>
            <tr>
                <td>
                    Kích thước & Chất liệu:
                </td>
                <td>
                    {{ product['Kích thước & Chất liệu'] }}
                </td>
            </tr>
            <tr><td>
                Số lượng
            </td>
        </tr>
        <tr>
            <td>
                Giá gốc
            </td>
            <td>
                {{ product['Giá hiện tại'] }}
            </td>

        </tr>
        <tr>
            <td>
                Giảm giá
            </td>
            <td>30%</td>
        </tr>
          </table>
        </div>
</div>
  
<div class="info-group1">
        
  <div class="right">
    <h2>Phân loại</h2>
        <div class="info-item1">    
          <label>Danh mục</label>
          <select>
            <option *ngFor="let category of categoryNames | keyvalue" [value]="category.value">
                {{ category.value }}
              </option>
            </select>
        </div>
        <div class="info-item1">
          <label>Phân loại</label>
          <select>
            <option>Hàng bán</option>
            <option value="">Hàng tặng</option>
          </select>
        </div>
        <div class="info-item1">
          <label>Tag</label>
          <input type="text" />
        </div>
  </div>
  <div class="right">
        <h2>Hiển thị</h2>
        <div class="info-item1">
          <label>Trạng thái</label>
          <div>
            <input type="radio" id="hidden" name="status" />
            <label for="hidden">Ẩn</label>
  <br/>
            <input type="radio" id="visible" name="status" checked />
            <label for="visible">Hiện</label>
          </div>
        </div>
        </div>

    </div>
