
<div class="product-details-container">
    <div class="header">
      QUẢN LÍ SẢN PHẨM / THÊM SẢN PHẨM
    </div>
    <div class="save">    <button class="save-button" (click)="saveProduct()">Lưu</button></div>
    <div class="product-info">
      <div class="section">
        <h2>THÔNG TIN SẢN PHẨM</h2>
        <div class="info-group">
          <h3>Thông tin chung</h3>
            <table>
                <tr>
                    <td>
                    Tên sản phẩm
                    </td>
                    <td><input type="text" [(ngModel)]="productName"></td>
                </tr>
                <tr>
                    <td>
                           Mã sản phẩm
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="productSKU">
                    </td>
                </tr>
                <tr>
                    <td>
                     Mô tả
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="productDescription">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Ảnh</label>
                    </td>
                    <td >
                        <form (submit)="onSubmit()" enctype="multipart/form-data">
                            <label for="fileInput">Chọn ảnh sản phẩm:</label>
                            <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*">
                            
                            <!-- Hiển thị ảnh xem trước -->
                            <div *ngIf="imagePreview">
                              <img [src]="imagePreview" alt="Ảnh sản phẩm" width="200px">
                            </div>
                          
                            <button type="submit">Lưu ảnh</button>
                          </form>                          
                    </td>
                </tr>
            </table>
            </div>
        <div class="info-group">
          <h3>Thông tin chi tiết</h3>

          <table>
            <tr>
                <td>
                    Kích thước & Chất liệu:
                </td>
                <td>
                    <input type="text" [(ngModel)]="ProductsizeMat">
                </td>
            </tr>
            <tr><td>
                Số lượng
            </td>
            <td><input type="number" [(ngModel)]="Productquantity"></td>
        </tr>
        <tr>
            <td>
                Giá gốc
            </td>
            <td>
                <input type="text" [(ngModel)]="productPrice">
            </td>

        </tr>
        <tr>
            <td>
                Giảm giá
            </td>
            <td><input type="text" [(ngModel)]="Productdiscount"></td>
        </tr>
          </table>
        </div>
</div>
  
<div class="info-group1">
        
  <div class="right">
    <h2>Phân loại</h2>
        <div class="info-item1">    
          <label>Danh mục</label>
          <select>
            <option *ngFor="let category of categoryNames | keyvalue" [value]="category.value">
                {{ category.value }}
              </option>
            </select>
        </div>
        <div class="info-item1">
          <label>Phân loại</label>
          <select>
            <option>Hàng bán</option>
            <option value="">Hàng tặng</option>
          </select>
        </div>
        <div class="info-item1">
          <label>Tag</label>
          <input type="text" />
        </div>
  </div>
  <div class="right">
        <h2>Hiển thị</h2>
        <div class="info-item1">
          <label>Trạng thái</label>
          <div>
            <input type="radio" id="hidden" name="status" />
            <label for="hidden">Ẩn</label>
  <br/>
            <input type="radio" id="visible" name="status" checked />
            <label for="visible">Hiện</label>
          </div>
        </div>
        </div>

    </div>
