.product-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #ffffff;


}

.header {
background-color: #F4EFEB;
padding:8px;
margin: 20px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
border-radius: 40px;
}
.save{
display: flex;
justify-content: right;
}
.save-button {
width: 200px;
height:50px;
text-align: center;
background-color: #304457;
color: white;
border: none;
cursor: pointer;
margin-right: 20px;
}

.product-info {
display: flex;
justify-content: space-between;
}

.section {
padding: 10px;
margin: 20px;

}

.info-group {
padding: 5px;
margin-bottom: 20px;
margin-left: 10px;
background-color: #F3F3F3;
width: 800px;
}

.info-group input{
    width: 500px;
}


.info-group1 {
padding: 5px;
margin-bottom: 20px;
margin-left: 10px;
margin-top: 70px;
}

.right{
background-color: #F3F3F3;
/* padding: 10px; */
margin: 20px;


}

.info-item {
/* width: 70%; */
/* margin-left: 50px; */
display: flex;
justify-content: space-between;
margin-bottom: 10px;
gap: 30px;

}
.info-item1 {
width: 200px;
/* margin-left: 50px; */
display: flex;
justify-content: space-between;
margin-bottom: 10px;
padding: 10px;
gap: 30px;

}

.info-item option {
width: 300px;
}

label {
font-weight: bold;
}

select, input[type="text"] {
width: 60%;
padding: 5px;
}

input[type="radio"] {
margin-right: 5px;
}


/* table tr td{
border: 1px solid black;
} */

table tr td:first-child{
width: 100px;
font-weight: bold;
}


.pic img{
width: 200px;
height: auto;
}


form button{
    background-color: #304457;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}