<div class="orders">
    <div class="info">
        <table>
            <tr>
                <td width="250px">Họ và tên</td>
                <td width="200px">Địa chỉ</td>
            </tr>
            <tr>
                <td>sđt</td>
                <td>email</td>
            </tr>
        </table>
    </div>
    <div class="product-container">
        <div class="product">
            <table>
                <tr>
                    <td width="150px"><img src=""></td>
                    <td width="300px">
                        tên sản phẩm<br/>
                        Màu sắc: 
                    </td>
                    <td width="60px">
                        <br/>
                        số lượng
                    </td>
                    <td width="300px" id="total">Tổng cộng: </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td width="150px"><img src=""></td>
                    <td width="300px">
                        tên sản phẩm<br/>
                        Màu sắc: 
                    </td>
                    <td width="60px">
                        <br/>
                        số lượng
                    </td>
                    <td width="300px" id="total">Tổng cộng: </td>
                </tr>
            </table>
        </div>
        <div class="note">Vui lòng chuẩn bị đủ tiền thanh toán khi nhận hàng </div>
        <div class="pay">Thanh toán: </div>
        
    </div>





</div>
