<div class="container-fluid bg-white shadow-sm ">
  <div class="container d-flex justify-content-between align-items-center py-2">
    
    <!-- Logo -->
    <a href="/" class="navbar-brand">
      <img src="\assets\logoheader.png" alt="homeSOUL" height="40">
    </a>

    <!-- Menu -->
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link fw-light" routerLink="/">TRANG CHỦ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link fw-light dropdown-toggle" routerLink="/tat-ca-san-pham" >SẢN PHẨM</a>
        <!-- #######THÊM DÒNG ROUTERLINK -->
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/san-pham', 'giuongngu']">Giường ngủ</a></li>
          <li><a class="dropdown-item" [routerLink]="['/san-pham', 'ban']">Bàn</a></li>
          <li><a class="dropdown-item" [routerLink]="['/san-pham', 'bo_banan']">Bộ bàn ăn</a></li>
          <li><a class="dropdown-item" [routerLink]="['/san-pham', 'ghe']">Ghế ăn</a></li>
          <li><a class="dropdown-item" [routerLink]="['/san-pham', 'ghesofa']">Ghế sofa</a></li>
          <li><a class="dropdown-item" [routerLink]="['/san-pham', 'tu_ke']">Tủ - Kệ</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-light" routerLink="/khuyen-mai">KHUYẾN MÃI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-light" routerLink="/blogs">BLOGS</a>
      </li>
    </ul>

    <!-- Icon -->
    <div class="d-flex gap-3">
      <a class="text-dark" (click)="toggleSearchBox()"><i class="bi bi-search"></i></a>
      <a href="#" class="text-dark"><i class="bi bi-cart"></i></a>
      <a href="#" class="text-dark"><i class="bi bi-person"></i></a>
    </div>

  </div>


<!-- tìm kiếm sản phẩm -->
 <div class="search-box"  *ngIf="isSearchBoxVisible">
<div class="position-relative search" style="width: 60%;">
  <i class="bi bi-search position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); color: gray;"></i>
  <input type="text" id="search" placeholder="Bạn muốn tìm gì..." 
         class="form-control rounded-pill pl-4" 
         style="padding-left: 35px;"
         (keyup.enter)="searchProduct()" [(ngModel)]="searchTerm">
</div>
<div class="search-recom">
<div>
  <img src="assets/icons/hot.png">Hot
<p>Full Combo Phòng Khách 5 Món HOBRO   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Giường Ngủ Gỗ Tự Nhiên Mây Mắt Cáo FIJI 401</p>
<div>
  <img src="assets/icons/recentsearch.png">Top tìm kiếm
<p>Ghế sofa  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Giường &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tủ mini</p>
</div>
</div>
</div>




</div>
