
body {
  margin: 0;
}

.spacing{
  margin-top: 100px;
  margin-bottom: 440px;
}

.spacing{
  display: flex;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.filter-panel {
  width: 25%;
  /* background: #f4f4f4; */
  padding: 10px;
  /* overflow-y: auto; */
  /* position: fixed; */
  top:0;
  right:0;
  /* height: 100vh; */
  height: auto;
}

.product-grid {
  
  display:flex;
  flex-wrap: wrap;
   gap: 10px;
  padding: 5px; 
  /* overflow-y: auto; */
  justify-content: center;
}

.product {
  margin-top: 40px;
  padding: 5px;
  text-align: center;
  width: 275px;
  height: 500px;
}

.product-page{
  width: 75%;
}

.pagination {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.pagination button {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
}


.product-img img{
width: 100%; /* Giới hạn chiều rộng theo thẻ chứa */
height: auto;
max-height: 260px; /* Giới hạn chiều cao tối đa */
display: flex;
justify-content: center;
object-fit: contain; /* Hiển thị toàn bộ ảnh mà không bị cắt */
}

.product-card {
  padding: 3px; /* Giảm padding nếu cần */
  border-radius: 5px;
  text-align: center;
  height: 400px;
}

.price-tag{
color: #6B6B6B;
padding-top: 0px;
margin-top: 0;
}

.pagination img{
width: 28px;
height: 28px;
}

.rate img{
width: 19px;
height: 19px;

}

.rate{
display: flex;
justify-content: center;
}
/* filter */
.checkbox-container {
display: flex;
flex-direction: column;
gap: 5px;
}

.checkbox-container input[type="checkbox"] {
width: 20px;
height: 20px;
transform: scale(1.2); /* Phóng to checkbox */
margin-right: 8px;
border: 1px solid #555; /* Màu và độ dày viền */
}
.filter-panel{
font-size: 18px;
color: #7E7E7E;
}
.fil{
color: #2D2D2D;
font-size: 20px;
}

.filter-container select{
border: none;
margin-bottom: 20px;;
font-size: 18px;
color: #7E7E7E;
}

.product-name{
  height: 50px; /* Điều chỉnh độ cao dòng */
}

.no-results{
  text-align: center;
}