.pay-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

p{
    font-weight: bold;
    font-size: 20px;
    /* margin: 10px; */
    text-align: center;
}
button{
    border: 1px solid black;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 130px;
}

.loi{
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
}
.note{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}
.icon-order img{
    margin-left: 20px;
}