/* You can add global styles to this file, and also import other style files */


/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@0;1&display=swap');

.spacing {
    font-family: "Source Sans 3";
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
  } */


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif !important;
}